:root,
::backdrop {
  /* color-scheme: light dark; */
  --c: #111; /* base interactive color */
  --oc: #222; /* off interactive color */
  --di: #333; /* off interactive color */
  --hc: #555; /* highlight color */
  --ct: #111a; /* base interactive color */
  --d: #242424; /* base bg color */
  --l: #eee; /* base color */
  --lt: #eeea; /* base color */
  --lf: #dfdfdf; /* base color */
  --f: #fff; /* base color */
  /* --bgc: var(--d);
  --fc: var(--l); */

  --info: #0bf;
  --note: #888;
  --warn: #fd0; /* warn */
  --dang: #f55; /* danger */
  --succ: #5b5; /* success */
  --lite: #09c;

  --fb: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  --fm: "IBM Plex Mono", Consolas, "Andale Mono WT", "Andale Mono",
  "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
  "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
  "Courier New", Courier, monospace;
  font-family: var(--fb);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* { box-sizing: border-box; }

@media (prefers-color-scheme: light) {
  :root:not(.it),
  ::backdrop {
    color-scheme: light;
    --bgc: var(--l);
    --fc: var(--d);

    --linkbg: var(--lf);
    --linkfg: var(--lite);
    --linkbgh: var(--f);
    --linkfgh: var(--lite);

    --btnbg: var(--l);
    --btnfg: var(--di);
    --btnbgd: var(--lf);
    --btnfgd: var(--note);
    --btnbgh: var(--f);
    --btnfgh: var(--lite);

    --inpbg: var(--f);
    --inpbd: var(--note);
    --inpfg: var(--fc);
    --inpbdi: var(--dang);

    --mdlbg: var(--f);
    --mdlfg: var(--di);
    --mdlbd: var(--lt);
  }

  .it {
    color-scheme: dark;
    --bgc: var(--d);
    --fc: var(--l);

    --linkbg: var(--oc);
    --linkfg: var(--info);
    --linkbgh: var(--c);
    --linkfgh: var(--info);

    --btnbg: var(--oc);
    --btnfg: var(--fc);
    --btnbgd: var(--d);
    --btnfgd: var(--note);
    --btnbgh: var(--c);
    --btnfgh: var(--info);

    --inpbg: var(--c);
    --inpbd: var(--hc);
    --inpfg: var(--fc);
    --inpbdi: var(--dang);

    --mdlbg: var(--d);
    --mdlfg: var(--fc);
    --mdlbd: var(--ct);
  }
  /* html:not(.it),img,svg,video,html:not(.it) dialog {
    filter: invert(95%) hue-rotate(180deg);
  } */
  progress:indeterminate {
    background: linear-gradient(
      90deg,
      #0000 0%,
      #0000 50%,
      var(--lite) 100%
    );
  }
  nav a.theme::before {
    content: '🌣';
  }
  html:not(.it) nav a.theme::before {
    content: '☽';
    transform: rotateZ(45deg);
  }
}
@media (prefers-color-scheme: dark) {
  :root:not(.it),
  ::backdrop {
    color-scheme: dark;
    --bgc: var(--d);
    --fc: var(--l);

    --linkbg: var(--oc);
    --linkfg: var(--info);
    --linkbgh: var(--c);
    --linkfgh: var(--info);

    --btnbg: var(--oc);
    --btnfg: var(--fc);
    --btnbgd: var(--d);
    --btnfgd: var(--note);
    --btnbgh: var(--c);
    --btnfgh: var(--info);

    --inpbg: var(--c);
    --inpbd: var(--hc);
    --inpfg: var(--fc);
    --inpbdi: var(--dang);

    --mdlbg: var(--d);
    --mdlfg: var(--fc);
    --mdlbd: var(--ct);
  }

  .it {
    color-scheme: light;
    --bgc: var(--l);
    --fc: var(--d);

    --linkbg: var(--lf);
    --linkfg: var(--lite);
    --linkbgh: var(--f);
    --linkfgh: var(--lite);

    --btnbg: var(--l);
    --btnfg: var(--di);
    --btnbgd: var(--lf);
    --btnfgd: var(--note);
    --btnbgh: var(--f);
    --btnfgh: var(--lite);

    --inpbg: var(--f);
    --inpbd: var(--note);
    --inpfg: var(--fc);
    --inpbdi: var(--dang);

    --mdlbg: var(--f);
    --mdlfg: var(--di);
    --mdlbd: var(--lt);
  }
  /* html.it,img,svg,video,html.it dialog {
    filter: invert(95%) hue-rotate(180deg);
  } */
  progress:indeterminate {
    background: linear-gradient(
      90deg,
      #0000 0%,
      #0000 50%,
      var(--info) 100%
    );
  }
  nav a.theme::before {
    content: '☽';
    transform: rotateZ(45deg);
  }
  html:not(.it) nav a.theme::before {
    content: '🌣';
  }
}

body {
  background: var(--bgc);
  color: var(--fc);
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  /* flex: 1 1 auto; */
  width: 100%;
  justify-content: space-between;
  line-height: 2;

  background-color: var(--bgc);
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: auto;
}

/*
  Hover disables browser navigation
  Needs alternative solution / debugging
*/
/* nav:hover > #home:not(:target), */
/* nav a:first-child:hover ~ #home,
nav > #home:hover, */
nav > #home:target {
  right: 0;
}

nav > div {
  display: flex;
  line-height: 2;
}

nav > #home {
  background-color: var(--bgc);
  position: absolute;
  top: 3rem;
  right: 100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

nav a {
  display: flex;
  height: 3rem;
  line-height: 3;
  padding: 0 1rem;
  flex: 0 0 auto;
}

nav a:hover {
  color: var(--linkfg);
  text-decoration: none;
}

nav #home a:hover,
nav #settings a:hover {
  background-color: var(--linkbgh);
}

nav a.theme {
  font-weight: bolder;
  font-size: 1.5rem;
  line-height: 2.2;
}

header {
  margin: 2rem auto 1rem;
  padding: 0 2rem;
  max-width: 1100px;
  min-height: 85px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column-reverse; */
}
header aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  min-width: 25%;
}
main {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1100px;
  /* min-height: 70vh; */
  width: 100%;
}
h1 { text-align: center; }
main form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem;
  gap: .5rem;
}
form fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 100%;
  justify-content: left;
  gap: .5rem;
  padding: 0;
}
form fieldset:disabled {
  opacity: .3;
}
button {
  background-color: var(--btnbg);
  color: var(--btnfg);
  /* border-radius: 8px; */
  border: 1px solid var(--btnfg);
  padding: 0.8rem 1.2rem;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:disabled {
  background-color: var(--btnbgd);
  color: var(--btnfgd);
  border-color: var(--btnfgd);
  cursor: not-allowed;
}
button:not(:disabled):hover {
  background-color: var(--btnbgh);
  color: var(--btnfgh);
  border-color: var(--btnfgh);
}
button:not(:disabled):focus,
button:not(:disabled):focus-visible {
  outline: 1px solid -webkit-focus-ring-color;
}
form.link {
  margin: 0;
}
form.link fieldset {
  min-width: auto;
}
form.link button,
button.link {
  border: 0 solid transparent;
  color: var(--info);
  padding: 0;
}
form.link button:hover,
button.link:hover {
  background-color: transparent;
  color: var(--info);
  text-decoration: dashed;
  text-decoration-line: underline;
}
form.link button:focus,
button.link:focus {
  outline: 0 auto transparent;
}
/* header aside form[name="balanceForm"] button {
  border: 0 solid transparent;
}
header aside form[name="balanceForm"] button {
  border: 0 solid transparent;
} */
input, select {
  background-color: var(--inpbg);
  color: var(--inpfg);
  border: 1px solid var(--inpbd);
  text-align: center;
  line-height: 1;
  font-size: 1.5rem;
  /* width: 100%; */
  flex: 1 1 auto;
  height: 3rem;
  /* max-width: 24rem; */
}
input:invalid {
  border-color: var(--inpbdi);
  outline: var(--inpbdi);
}
label {
  display: flex;
  flex-direction: row;
  min-width: 100px;
  /* line-height: 3rem; */
  align-items: center;
  gap: 1rem;
  user-select: none;
}
label > input[type=checkbox] {
  width: 2rem;
  flex: 0 0 auto;
}
fieldset:not(:disabled) label {
  cursor: pointer;
  width: fit-content;
}
form fieldset.inline {
  border: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: stretch;
  gap: 0;
  padding: 0;
  height: 48px;
}
form fieldset.inline input {
  border-right: 0 solid transparent;
  outline: none;
}
form fieldset.inline button {
  border: 1px solid var(--hc);
}

/* form.modal {
  padding: 1rem;
} */
form.modal fieldset {
  min-width: 1rem;
  border: 0;
  margin: 0;
  padding: 1rem;
}
form.modal fieldset label {
  position: relative;
  min-width: auto;
  gap: 0;
}
form.modal fieldset label.percent {
  padding-right: 1rem;
}
form.modal fieldset label.percent::after {
  position: absolute;
  right: 0;
  content: '%';
  font-size: 1.5rem;
}
form.modal fieldset.inline {
  /* margin-bottom: 1rem; */
  height: auto;
}
form.modal fieldset.inline input[name="percentRange"] {
  flex: 1 1 auto;
  margin-right: 2rem;
}
form.modal fieldset.inline input[name="percent"] {
  min-width: 1rem;
  max-width: 6rem;
  border: 0 solid var(--inpbd);
  text-align: right;
}

form.btn {
  margin: 0;
}
form.btn fieldset {
  border: 0;
  min-width: 1rem;
}
form.btn fieldset button {
  border: 0 solid transparent;
}

a {
  color: var(--linkfg);
  text-decoration: none;
}
a:hover {
  color: var(--linkfgh);
  text-decoration: dashed;
  text-decoration-line: underline;
}

table {
  width: 100%;
  /* table-layout: fixed; */
  box-shadow: 0 0 0 1px #fff3;
}
table > tbody td,
table > thead th:not([colspan]) {
  padding: 1rem;
  word-break: break-word;
}
table > tbody td {
  padding: 0 1rem 1rem;
}
/* table th:first-child,
table td:first-child {
  width: 120px;
} */
table thead {
  text-align: left;
}
table thead header {
  display: flex;
  padding: 0;
  min-height: auto;
  padding: 1rem;
}
table thead header div {
  flex: 1 1 auto;
}
table thead header div:first-child {
  flex: 2 1 auto;
}
table thead header div:last-child {
  text-align: center;
}
table thead tr:last-child th {
  text-align: left;
  /* text-align: right; */
  width: 11%;
}
table thead tr:last-child th:first-child {
  width: 1rem;
}
table thead tr:last-child th:nth-child(2) {
  width: auto;
}
table tbody td:nth-child(3),
table tbody td:nth-child(5),
table tbody td:nth-child(7) {
  width: 1rem;
}

pre {
  background-color: var(--c);
  font-family: var(--fm);
  font-size: 14px;
  padding: 1rem;
  max-width: 100%;
  /* overflow: auto; */
}
pre code {
  white-space: pre-line;
}
pre code > * {
  display: inline;
}
pre code .dem {
  color: var(--note);
}
pre code em {
  color: var(--dang);
  font-style: normal;
}
pre code address {
  color: var(--succ);
  font-style: normal;
}
pre code output {
  color: var(--info);
  font-style: italic;
}
form[name="network"] {
  justify-content: center;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
svg {
  max-width: 50%;
  margin: 0 auto;
  display: block;
}

.hide {
  display: none;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.msg {
  display: flex;
  flex-direction: column;
}
.center {
  align-content: center;
  justify-items: center;
  text-align: center;
}
.center form {
  width: 100%;
  flex-direction: column;
  margin-bottom: 0;
}
.center input {
  max-width: initial;
  line-height: 2;
}
.balance {
  text-align: center;
}

/* https://github.com/lukehaas/css-loaders */
/* https://projects.lukehaas.me/css-loaders/ */
/*
  The MIT License (MIT)
  Copyright (c) 2014 Luke Haas
 */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: var(--info);
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  /* position: absolute; */
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


progress.pending,
progress.pending[role] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 10;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0 solid transparent;
}
progress.pending[role]:after {
	background-image: none;
}
progress.pending:indeterminate::-webkit-progress-bar {
  background: transparent;
}

progress.pending:indeterminate {
  -webkit-animation: await-progress 1.5s ease-in-out infinite;
  animation: await-progress 1.5s ease-in-out infinite;
}

progress#pageLoader,
progress#pageLoader[role] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6px;
  z-index: 11;
}

progress#pageLoader:indeterminate {
  -webkit-animation: await-page-progress 1.5s ease-in-out infinite;
  animation: await-page-progress 1.5s ease-in-out infinite;
}

@-webkit-keyframes await-progress {
  0%   { background-position: -100vw; }
  100% { background-position: 100vw; }
}
@keyframes await-progress {
  0%   { background-position: -100vw; }
  100% { background-position: 100vw; }
}

@-webkit-keyframes await-page-progress {
  0%   { background-position: -100vw; }
  100% { background-position: 100vw; }
}
@keyframes await-page-progress {
  0%   { background-position: -100vw; }
  100% { background-position: 100vw; }
}

qr-dialog dialog,
withdraw-dialog dialog,
dialog {
  background: var(--mdlbg);
  color: var(--mdlfg);
}
qr-dialog dialog::backdrop,
withdraw-dialog dialog::backdrop,
dialog::backdrop {
  background: var(--mdlbd);
}

dialog.responsive {
  position: fixed;
  display: flex;
  top: 0;
  /* top: 3rem; */
  bottom: 0;
  height: auto;
  /* height: 100vh; */
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  border: 0 solid;
  opacity: 1;
  z-index: 9;
  padding: 2rem;
}
dialog form {
  max-width: 100%;
  width: 100%;
  flex: 1 1 auto;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
dialog.responsive form {
  justify-content: center;
}
dialog.responsive fieldset:first-child {
  justify-content: center;
  flex: 1 1 auto;
  text-align: left;
}
dialog.responsive form > fieldset:first-child > input,
dialog.responsive fieldset:last-child {
  flex: 0 1 auto;
}
dialog.responsive fieldset:last-child {
  padding: 0;
}
dialog.responsive button[type="submit"] {
  flex: 1 1 auto;
}
dialog.responsive button[type="reset"] {
  position: absolute;
  top: 0;
  left: 0;
  flex: 0 1 auto;
  width: auto;
  border: 0 solid transparent;
  background-color: transparent;
  transition: none;
}
dialog.responsive button[type="reset"]:focus {
  outline: 0;
}
dialog.responsive button[type="reset"]::before {
  content: '←';
  font-size: 2rem;
}
dialog.responsive button[type="reset"] span {
  display: none;
}

dialog h4 {
  margin: .5rem auto;
}
dialog h4 + h3 {
  font-size: 2rem;
  margin-top: .5rem;
}

dialog figure {
  margin: 0;
  flex: 1 1 auto;
}
/* dialog figure figcaption {
  line-break: anywhere;
} */
dialog figure figcaption input {
  font-size: 3.25vmin;
}
dialog svg {
  max-width: 75%;
  margin: auto;
}

section.page {
  display: none;
}
section.page.active {
  display: block;
}



@media (min-width: 650px) {
  @-webkit-keyframes await-progress {
    0%   {
      background-position: -650px;
    }
    100% {
      background-position: 650px;
    }
  }
  @keyframes await-progress {
    0%   { background-position: -650px; }
    100% { background-position: 650px; }
  }

  form {
    max-width: 80%;
  }
  header {
    margin: 0 auto;
    flex-direction: row;
  }

  nav {
    position: relative;
    top: auto;
    overflow: hidden;
  }

  nav > div {
    flex-direction: row;
  }

  nav > #home {
    position: relative;
    top: auto;
    right: auto;
    height: auto;
    overflow: auto;
    flex-direction: row;
  }

  dialog.responsive {
    position: fixed;
    top: 0px;
    /* height: 90vh; */
    height: fit-content;
    max-width: 650px;
    border: 0 solid;
    opacity: 1;
    z-index: 9;
  }
  dialog.responsive form {
    justify-content: space-between;
  }
  dialog.responsive fieldset:first-child {
    justify-content: center;
    flex: none;
    margin-bottom: 1rem;
  }
  dialog.responsive form > fieldset:first-child > input,
  dialog.responsive fieldset:last-child {
    flex: none;
  }
  dialog.responsive button[type="submit"] {
    flex: none;
  }
  dialog.responsive button[type="reset"] {
    position: initial;
    border: 1px solid transparent;
    /* background-color: var(--btnbg); */
    /* text-align: left;
    padding-left: 0;
    padding-right: 0; */
  }
  dialog.responsive button[type="reset"]:last-child {
    flex: 1 1 auto;
  }
  dialog.responsive button[type="reset"]:hover {
    /* background-color: var(--btnbgh); */
    color: var(--dang);
  }
  dialog.responsive button[type="reset"]:focus {
    outline: 0;
    outline: 1px solid -webkit-focus-ring-color;
  }
  dialog.responsive button[type="reset"]::before {
    content: none;
  }
  dialog.responsive button[type="reset"] span {
    display: initial;
  }
  dialog.responsive form fieldset.inline {
    justify-content: space-between;
  }

  dialog h4 {
    margin: 1rem auto;
  }
  dialog h4 + h3 {
    font-size: 3rem;
    margin-top: 1rem;
  }
  dialog figure figcaption input {
    /* margin-top: 1rem; */
    font-size: 1.4rem;
  }
  dialog svg {
    max-width: 60%;
    margin: 1rem auto 2rem;
  }
}